<style>
    #google-search-form {
        width: 100%;
    }
    #google-search-form table {
        background: transparent;
        border: none;
    }
    #google-search-form table td {
        border: none;
    }
    #google-search-form .gsc-results-wrapper-overlay {
        padding: 10px;
        left: 5%;
        width: 90%;
    }
</style>

<div id="google-search-form">
    <script async src="https://cse.google.com/cse.js?cx=002615545458194937186:uij_veqqcy4"></script>
    <div class="gcse-search"></div>
</div>