<div class="search-box">
    <div class="search-box__input">
        <input type="search" id="search-input" placeholder="Search blog posts.."> hehe
    </div>
    <div class="search-box__result">
        <ul id="results-container"></ul>
    </div>
</div>

<div class="modal-container">
    <input id="modal-toggle" type="checkbox">
    <label class="modal-btn" for="modal-toggle">Click me</label> 
    <label class="modal-backdrop" for="modal-toggle"></label>
    <div class="modal-content">
      <label class="modal-close" for="modal-toggle">&#x2715;</label>
      <h2>Modal title</h2><hr />
      <p>Hello from inside the modal!</p> 
      <label class="modal-content-btn" for="modal-toggle">OK</label>   
    </div>          
  </div>  
